/****Base Styles****/

* {
    box-sizing: border-box;
    /* border: 1px solid; */
}

fieldset {
    border: none;
}

body {
    text-align: center;
    color: #A19A7E;
}


/****Header Styles****/
.main-header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #A1904E;
}

h1 {
    margin: 0;
    color: #fff;
}

/****Form Heading Styles****/
.form-heading {
    color: #A1904E;
    margin-bottom: 15px;
    margin-top: 25px;
}
.form-info {
    font-size: 18px;
    border-bottom: 4px solid #A1904E;
    padding-bottom: 25px;
    margin: 0;
}


/****Form  Styles****/
.form {
    margin-top: 3px;
    border-top: 2px solid #A19A7E;
    padding-top: 36px;
    text-align: left; 
}
.form-contact-info {
    display: flex;
}
.form-contact-info > legend {
    font-size: 24px;
}