/****Base Styles****/

* {
    box-sizing: border-box;
    /* border: 1px solid; */
}

fieldset {
    border: none;
}

body {
    text-align: center;
    color: #A19A7E;
}

.main-container {
    width: 100%;
    max-width: 950px;
    padding: 0 15px;
}

.main-footer  {
    padding-top: 15px;
    font-size: 14px;
}



/****Header Styles****/
.main-header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #A1904E;
}

h1 {
    margin: 0;
    color: #fff;
}

/****Form Heading Styles****/
.form-heading {
    color: #A1904E;
    margin-bottom: 15px;
    margin-top: 25px;
}
.form-info {
    font-size: 18px;
    border-bottom: 4px solid #A1904E;
    padding-bottom: 25px;
    margin: 0;
}


/****Form  Styles****/
.form {
    margin-top: 3px;
    border-top: 2px solid #A19A7E;
    padding-top: 36px;
    
}
.form-contact-info {
    display: flex;
    flex-direction: column;
    text-align: left; 
    border-bottom: 2px solid #A1904E;
    margin-bottom: 25px;
}
.form-contact-info > legend,
.form-newsletter > legend {
    font-size: 24px;
    color: #A1904E;
    margin-bottom: 18px;
}

.wrap > input,
.wrap > select  {
    width: 100%;
    height: 42px;
    padding: 12px 2px;
    margin-top: 5px;
    margin-bottom: 12px;
    background-color: #ded9d6;
    border: none;
    color: #3b3a39;
    border-radius: 5px;
}

.wrap > input::placeholder {
    text-align: end;
    color: #9e9a98;
}

.form-newsletter {
    text-align: left;
}

.form-newsletter-info {
    margin-top: 0;
}

.form-newsletter > input {
    margin-right: 5px;
}

.form-newsletter > input,
.form-newsletter > label {
    margin-bottom: 15px;
}

.form-newsletter > textarea {
    width: 100%;
    background-color: #ded9d6;
    border: none;
    color: #3b3a39;
    margin-top: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.form button {
    width: 91%;
    background-color: #7f4ea1;
    color: #fff;
    border: none;
    padding: 15px 0;
    margin: 10px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}




/****State  Styles****/

@media(min-width: 768px){
    .main-container {
        width: 65%;
        margin: 0 auto;
    }

    .wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
    }

    .wrap > input {
        flex-basis: 70%
    }
    .wrap > label {
        flex-basis: auto;
    }
    .wrap > select {
        flex-basis: 70%;
    }
}